<!DOCTYPE html>
<html>
<head>
    <title>Shopify App</title>
    <script src="https://unpkg.com/@shopify/app-bridge@2"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <style>
        table.dataTable {
            width: 100% !important;
        }
        .dataTables_wrapper {
            width: 100%;
            overflow-x: auto;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var AppBridge = window['app-bridge'];
            var createApp = AppBridge.default;
            var actions = AppBridge.actions;
            var Redirect = actions.Redirect;

            var app = createApp({
                apiKey: '{{ api_key }}',
                shopOrigin: '{{ shop }}'
            });

            const redirect = Redirect.create(app);
        });
    </script>
</head>
<body>
    <h1>Inventory Guru</h1>
    <nav>
        <ul style="list-style-type: none; padding: 0; display: flex; justify-content: flex-start; gap: 20px;">
            <li><a href="/home?shop={{ shop }}">Home</a></li>
            <li><a href="/products?shop={{ shop }}">Products</a></li>
            <li><a href="/products2?shop={{ shop }}">Products With Variants</a></li>

            <li><a href="/variants?shop={{ shop }}">Variants</a></li>
            <li><a href="/orders?shop={{ shop }}">Orders</a></li>
            <li><a href="/line_items?shop={{ shop }}">Line Items</a></li>
            <!-- Add more tabs as needed -->
        </ul>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
