{% extends "base.html" %}

{% block content %}
<h1>Product Variants</h1>
<table>
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Variant ID</th>
            <th>Variant Name</th>
        </tr>
    </thead>
    <tbody>
        {% for variant in variants %}
        <tr>
            <td>{{ variant.product_id }}</td>
            <td>{{ variant.product_title }}</td>
            <td>{{ variant.variant_id }}</td>
            <td>{{ variant.variant_title }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
